*{
  font-family: Georgia, serif;
}
h6.tagline {
  position: fixed;
  top: 0px;
  left: 10px;
  padding: 10px;
  margin: 0px;
  width: 100%;
  color: #4d4d4d;
}
.sidebar>h6{
  color: #4d4d4d;
}
.masthead{
  margin-top: 40px;
  margin-bottom: 5px;
}
img {
  width: 100%;
  margin-bottom: 15px;
}
.sidebar{
  margin-top: 8px;
}
a {
  color: #222;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.article1 {
  padding: 5px;
  margin: 8px 0px 8px 0px;
  border: 2px solid #e6e6e6;
}
.article2 {
  padding: 5px;
  margin: 8px 0px 8px 0px;
  border: 2px solid #e6e6e6;
}
.article3 {
  padding: 5px;
  margin: 8px 0px 8px 0px;
  border: 2px solid #e6e6e6;
}
.number2 {
  margin-left: 8px;
}
.number3 {
  margin-left: 8px;
}
.footer {
  padding: 5px;
  color: #999999;
  border-top: 2px solid #e6e6e6; 
  margin: 8px 0px 8px 0px;
}
